{{!-- main.handlebars --}}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/style.css">

    <title>Stories of the World</title>
</head>

<body>
    <header>
        <h3><a href="/">Stories of the World</a></h3>
        <nav>
            <ul>
                <li>
                    <a href="/stories/add">Add A Story</a>
                </li>
                <li>
                    <a href="/words">The Words</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {{{body}}}
    </div>

</body>

</html>